asgiref==3.6.0
Django==4.1.6
djangorestframework==3.14.0
drf-nested-routers==0.93.4
enum34==1.1.10
future==0.18.2
-e git+ssh://git@thingswise/thingswise/model-designer.git@129124ebdd5ee8b0327f9e3d4ce13d93d2b7e9d5#egg=model_designer
nodeenv==1.7.0
pyright==1.1.278
pytest==7.2.0
pytz==2022.6
sqlparse==0.4.3
